## Домашнее задание по блоку 04.02.2021. Управляющие конструкции и коллекции. Часть1
### Тихонова Инна

**Задание 1**

Дана переменная, в которой хранится слово из латинских букв. Напишите код, который выводит на экран:

 - среднюю букву, если число букв в слове нечетное;
 - две средних буквы, если число букв четное.

In [1]:
def word_print(word):
    
    len_word = len(word)
    
    if len_word % 2 == 1:
        print(word[len_word // 2])
    else:
        print(word[(len_word // 2 - 1):(len_word // 2 + 1)])

In [2]:
word = 'test'
word_print(word)

es

In [3]:
word = 'testing'
word_print(word)

t

**Задание 2**

Напишите программу, которая последовательно запрашивает у пользователя числа (по одному за раз) и после первого нуля выводит сумму всех ранее введенных чисел.

In [4]:
def print_sum():
    sum_num = 0
    i = -1
    while i != 0: 
        i = int(input("Введите число: "))
        sum_num += i

    print("Результат:", sum_num)

In [5]:
print_sum()

Введите число: 1
Введите число: 4
Введите число: 6
Введите число: 0
Результат: 11

In [6]:
print_sum()

Введите число: 0
Результат: 0

**Задание 3**

Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек.
Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! Но мы не будем никого знакомить, если кто-то может остаться без пары:

In [7]:
def dating(boys, girls):
    
    if len(boys) == len(girls):
        
        boys = sorted(boys)
        girls = sorted(girls)
        
        print("Идеальные пары:")
        
        for i in range(len(boys)):
            print(boys[i], 'и', girls[i])
        
    else:
        return("Внимание, кто-то может остаться без пары!")

In [8]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard'] 
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

dating(boys, girls)

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

In [9]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Michael'] 
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

dating(boys, girls)

'Внимание, кто-то может остаться без пары!'

**Задание 4**

У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за произвольный период по странам (структура данных в примере). Необходимо написать код, который рассчитает среднюю температуру за период в Цельсиях(!) для каждой страны.

In [10]:
def temp_mean(countries_temperature):
    
    print("Средняя температура в странах:")
    
    for country_temp in countries_temperature:
        
        temp_mean_f = sum(country_temp[1]) / len(country_temp[1])
        temp_mean = round(5 * (temp_mean_f - 32) / 9, 1)
        
        print(country_temp[0], '-', temp_mean, 'С')

In [11]:
countries_temperature = [['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]], 
                         ['Germany', [57.2, 55.4, 59, 59, 53.6]], 
                         ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]], 
                         ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]]

temp_mean(countries_temperature)

Средняя температура в странах:
Thailand - 23.9 С
Germany - 13.8 С
Russia - 3.7 С
Poland - 12.0 С

**Задание 5 (необязательное)** 

Дан поток логов по количеству просмотренных страниц для каждого пользователя. Вам необходимо написать алгоритм, который считает среднее значение просмотров на пользователя. Т. е. надо посчитать отношение суммы всех просмотров к количеству уникальных пользователей.

In [12]:
def stream_mean(stream):
    
    count_user = 0
    sum_view = 0
    users = []

    for stream_i in stream:

        list_i = stream_i.split(',')
        sum_view += int(list_i[2])

        if list_i[1] in users:
            continue

        users.append(list_i[1])
        count_user += 1

    print("Среднее количество просмотров на уникального пользователя:", round(sum_view / count_user, 2))

In [13]:
stream = ['2018-01-01,user1,3', 
          '2018-01-07,user1,4', 
          '2018-03-29,user1,1', 
          '2018-04-04,user1,13', 
          '2018-01-05,user2,7', 
          '2018-06-14,user3,4', 
          '2018-07-02,user3,10', 
          '2018-03-21,user4,19', 
          '2018-03-22,user4,4', 
          '2018-04-22,user4,8', 
          '2018-05-03,user4,9', 
          '2018-05-11,user4,11',] 

stream_mean(stream)

Среднее количество просмотров на уникального пользователя: 23.25

In [14]:
stream = ['2018-01-01,user100,150', 
          '2018-01-07,user99,205', 
          '2018-03-29,user1001,81'] 

stream_mean(stream)

Среднее количество просмотров на уникального пользователя: 145.33

**Задание 6 (необязательное)**

Необходимо у пользователя запрашивать набор чисел, разделенных пробелом. В результате должны выводиться числа, которые повторяются в вводе более одного раза.

In [15]:
def more_one(numbers):
    
    input_list = numbers.split(' ')
    unique_list = []
    not_unique_list = []
    
    for inp_i in input_list:
        
        int_inp_i = int(inp_i)
        
        if int_inp_i not in unique_list:
            unique_list.append(int_inp_i)
        else:
            if int_inp_i not in not_unique_list:
                not_unique_list.append(int_inp_i)
            
    print(sorted(not_unique_list))

In [16]:
numbers = input("Введите числа: ")
more_one(numbers)

Введите числа: 4 8 0 3 4 2 0 3
[0, 3, 4]

In [17]:
numbers = input("Введите числа: ")
more_one(numbers)

Введите числа: 1 1 2 2 3 3
[1, 2, 3]

In [18]:
numbers = input("Введите числа: ")
more_one(numbers)

Введите числа: 1 1 1 1 1 2 2 2
[1, 2]