## Домашнее задание по блоку 18.02.2021. Исключения и обработка ошибок
### Тихонова Инна

In [1]:
from datetime import datetime
from datetime import timedelta

**Задание 1**

Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
 - The Moscow Times - Wednesday, October 2, 2002
 - The Guardian - Friday, 11.10.13
 - Daily News - Thursday, 18 August 1977

In [2]:
def get_date(paper_date_str):
    
    paper, date_str = paper_date_str.split(" - ")
        
    papers_formats = {"The Moscow Times": '%A, %B %d, %Y',
                   "The Guardian": '%A, %d.%m.%y',
                   "Daily News": '%A, %d %B %Y'}
    
    date = datetime.strptime(date_str, papers_formats[paper])
    print(paper, '\t', date)

In [3]:
get_date("The Moscow Times - Wednesday, October 2, 2002")
get_date("The Guardian - Friday, 11.10.13")
get_date("Daily News - Thursday, 18 August 1977")

The Moscow Times 	 2002-10-02 00:00:00
The Guardian 	 2013-10-11 00:00:00
Daily News 	 1977-08-18 00:00:00

**Задание 2**

Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [4]:
def is_date_correct(date_str):
    try:
        date = datetime.strptime(date_str, '%Y-%m-%d')
        return True
    except:
        return False

In [5]:
def get_correct_date(stream):
    
    for date_str in stream:
        print(date_str, " - ", is_date_correct(date_str))

In [6]:
get_correct_date(['2018-04-02', '2018-02-29', '2018-19-02'])

2018-04-02  -  True
2018-02-29  -  False
2018-19-02  -  False

**Задание 3**

Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [7]:
def date_range(start_date, end_date):
    
    if not (is_date_correct(start_date) and is_date_correct(end_date)):
        return []
    if start_date > end_date:
        return []
    
    start_date = datetime.strptime(start_date, '%Y-%m-%d')
    end_date = datetime.strptime(end_date, '%Y-%m-%d')
    
    dates = []
    while start_date <= end_date:
        dates.append(start_date.strftime('%Y-%m-%d'))
        start_date = start_date + timedelta(days=1)
        
    return dates

In [8]:
start_date = '2000-01-01'
end_date = '2000-01-09'
date_range(start_date, end_date)

['2000-01-01',
 '2000-01-02',
 '2000-01-03',
 '2000-01-04',
 '2000-01-05',
 '2000-01-06',
 '2000-01-07',
 '2000-01-08',
 '2000-01-09']

In [9]:
start_date = '2000-01-10'
end_date = '2000-01-09'
date_range(start_date, end_date)

[]

In [10]:
start_date = '2000-01-0a'
end_date = '2000-01-09'
date_range(start_date, end_date)

[]

**Задание 4 (бонусное)** 

Ваш коллега прислал код функции:

`DEFAULT_USER_COUNT = 3
def delete_and_return_last_user(region, default_list=[‘A100’, ‘A101’, ‘A102’]):
""“
Удаляет из списка default_list последнего пользователя
и возвращает ID нового последнего пользователя.
”""
element_to_delete = default_list[-1]
default_list.remove(element_to_delete)`

`return default_list[DEFAULT_USER_COUNT-2]`

При однократном вызове этой функции все работает корректно:
delete_and_return_last_user(1)
‘A101’

Однако, при повторном вызове получается ошибка IndexError: list index out of range.

Задание:

1. Что значит ошибка list index out of range?
2. Почему при первом запуске функция работает корректно, а при втором - нет?

Ответ

 1. Ошибка "list index out of range" означает, что мы пытаемся обратиться к несуществующему элементу массива. Т.е. условно мы обращаемся к 99-ому элементу массива при том, что в массиве всего 5 элементов. Питон отслеживает такие обращения и считает их некорректными.
 
 2. При первом запуске функция работает корректно, а при втором - нет, из-за следующих факторов:
     - оба раза мы вызываем функцию без явного указания параметра default_list, из-за чего он оба раза подставляется значением по умолчанию.
     - в теле функции мы меняем список default_list - удаляем из него элемент.
     - объект default_list сохраняется внутри функции локально.
     
 Из чего следует, что когда мы вызываем функцию повторно, в нашем списке default_list уже не три элемента, как было изначально, а всего два. Далее мы удаляем еще один элемент и остается всего один элемент в списке. В строке "return default_list[DEFAULT_USER_COUNT-2]" мы пытаемся обратиться к элементу с индексом "1", а его уже не существует, из-за чего функция и падает с ошибкой индексации массива.

In [11]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
    """
    Удаляет из списка default_list последнего пользователя
    и возвращает ID нового последнего пользователя.
    """
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    
    print(default_list)

    return default_list[DEFAULT_USER_COUNT-2]

In [12]:
delete_and_return_last_user(1)

['A100', 'A101']

'A101'

In [13]:
delete_and_return_last_user(1)

['A100']

IndexError: list index out of range